.boton-contenedor{
    height: 83px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    font-weight: bold;
    background-color: #2b2b70;
    color: white;
    border-radius: 25px;
    border: 2px solid white;
    margin: 4px;
    cursor: pointer;
    user-select: none;
}

.boton-contenedor:hover{
    background-color: rgb(174, 114, 230);
}

.operador{
    background-color: rgb(42, 144, 42);
}

.operador:hover{
    background-color: orange;
}